@font-face {
  font-family: "98";
  src: url("98.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: #008080;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: "98";
}

input{
    width: 300px;
    font-size: 16px;
    border: 0;
    margin-bottom: 0.5em;
    border: inset 2px #026767;
    padding-left: 0.25em;
}

button {
    font-family: "98";
    background-color: rgb(205, 205, 205);
    border-radius: 0;
    margin: 0;
    width: 15%;
    box-shadow: 2px 2px #004e4e;
    all: unset !important;
    color: black !important;
}

button:active {
    background-color: rgb(158, 158, 158);
    box-shadow: 0;
}

input:focus {
    outline: none;
    border: solid rgb(0, 0, 0);
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
}

a {
  color: black;
  text-decoration: none;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

