@font-face {
  font-family: "98";
  src: url("98.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: #008080;
    background-image: url("dither.png");
    background-repeat: repeat;
    background-size: 4px 4px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: "98";
}

input{
    width: 300px;
    font-size: 16px;
    border: 0;
    margin-bottom: 0.5em;
    border: inset 2.5px #026767;
    padding-left: 0.25em;
}

button {
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;

    font-family: "98", sans-serif;
    color: black;

    background-color: rgb(205, 205, 205);

    border: 2px solid #000;

    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #555;
    border-bottom-color: #555;

    border-radius: 0;

    margin: 0;
    width: 30%;

    display: inline-block;

    cursor: pointer;

    /* IMPORTANT: stops iOS “native button rendering layer” */
    -webkit-border-fit: border !important;
}

button:active {
    background-color: rgb(158, 158, 158);
    box-shadow: 0;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-left-color: #555;
    border-top-color: #555;
}

input:focus {
    outline: none;
    border: solid rgb(0, 0, 0);
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
}

a {
    padding: 0.25em;
    color: rgb(0, 0, 110);
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

.logon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background-color: #189d9d;
    padding: 1em;
    border: 4px outset #056464;
    box-shadow: 5px 5px 0 #033838b5;
}

h1 {
    margin-bottom: 0.5em;
    font-weight: 500;
}

.forgot {
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #189d9d;
    padding: 0.5em;
    border: 4px outset #056464;
    box-shadow: 5px 5px 0 #033838b5;
}

.textcontain {
    width: 95%;
    height: 99%;
    background-color: #ffffffd2;
    padding: 0.5em;
    border: 2px inset #056464;
}