body {
    background-color: black;
}
h1 {
    color: red;
    
}

p {
    color: darkred;
    
}

.responsive {
  display: block;
  max-width: 100vw;
  height: auto;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 20px;
     text-align: center;
}

.button {
  border-radius: 50%;
      text-align: center; 
}

   
