body {
    background-color: black;
}

h1 {
    color: red;
    margin: 0;
    padding: 0;
}

h2 {
    color: red;
    margin: 0;
    padding: 0;
}

h3 {
    color: red;
    margin: 0;
    padding: 0;
}

p {
    color: darkred;
    
}

.responsive {
  display: block;
  max-width: 100vw;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
     text-align: center;

}

.button {
  border-radius: 50%;
      text-align: center;
     min-height: 100px;
    min-width: 100px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

   a {
  white-space: nowrap;
  text-decoration: none;
   color:red;
}

marquee {
    color: red;
    
}

.hlink {
    margin-top: auto;
    margin-bottom: auto;
    color: darkred;
}

main {
    justify-content: center;
     text-align: center;
}

.header {
    display: flex;
     margin-bottom: auto;
}
