body {
    background-color: black;
}
h1 {
    color: red;
    
}

p {
    color: darkred;
    
}

.responsive {
  display: block;
  max-width: 100vw;
  height: auto;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button {
  border-radius: 50%;
}

.center-page {
  text-align: center;     
}

.center-page > * {
  display: inline-block;     
  margin: 10px 0;             
}
   
