body {
    background-color: black;
}

p {
    color: white;
}

h1 {
    color:white; 
}

.iframe {
   background-color: rgb(23, 23, 23);
   height: 90vh;
}

.input {
    width: 86%;
}

.button {
    border-radius: 0px;
    padding: 0;
    border: white solid 3.33px;

}