body {
    background-color: #00c080;
}

h1 {
    color: white;
    text-align: center;
    font-family: "vcr";
    text-shadow: 3px 0px black;
    margin: 0;
}

h4 {
    color: rgb(0, 53, 17);
     margin: 0;
}

.hints {
    display: flex;
    background-color: #007d53;
}

.spongebob {
    margin-left: auto;
    height: 300px;
}