/* A Nerpx 2026 production */

h1,h2,h3,h4,h5,h6,p {
    font-family: '98';
}

body{
        user-select: none;

}

@font-face {
  font-family: "98";
  src: url("98.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

input{
    width: 300px;
    font-size: 16px;
    border: 0;
    margin-bottom: 0.5em;
    border: inset 2.5px #026767;
    padding-left: 0.25em;
}

button {
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;

    font-family: "98", sans-serif;
    color: black;

    background-color: rgb(205, 205, 205);

    border: 2px solid #000;

    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #555;
    border-bottom-color: #555;

    border-radius: 0; 
    display: inline-block;

    cursor: pointer;

    /* IMPORTANT: stops iOS “native button rendering layer” */
    -webkit-border-fit: border !important;
}

button:active {
    background-color: rgb(108, 108, 108);
    box-shadow: 0;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-left-color: #555;
    border-top-color: #555;
}

input:focus {
    outline: none;
    border: solid rgb(0, 0, 0);
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
}

a {
    padding: 0.25em;
    color: rgb(0, 0, 110);
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

.mainboxnt {
    align-items: center;
    width: 100vw;
    height: 8vh;
    background-color: #008080;
    box-shadow: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

}


.ntdebugh1 {
   margin: 0;
   padding: 0;
}

.startbar {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    
    background-color: rgb(205, 205, 205);

    border: 2px solid #000;

    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #555;
}

.nthomepage {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.startbutton {
    height: 4vh;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.1vw;
    
    border: 2px solid #000;
    background-color: #d4d0c8;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #555;
}

.startbutton:active{
    height: 4vh;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.1vw;

    background-color: #060606;
    border-top-color: #000000;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-left-color: #555;
}


.startimage {
    height: 4vh;
}

.clock{
    color: black;
    width: 10vw;
    height: 4vh;
    margin: auto;
    margin-right: 1vw;
    background-color: rgb(205, 205, 205);
    border: 2px inset 
}
 