/* Re-add before launch */
.guesswho.hidden { display: none !important; }
.error.hidden { display: none !important; }
.hidden { display: none; }
/* A Nerpx 2026 production */


body{
        user-select: none;

}

@font-face {
  font-family: "98";
  src: url("98.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

input{
    width: 300px;
    font-size: 16px;
    border: 0;
    margin-bottom: 0.5em;
    border: inset 2.5px #026767;
    padding-left: 0.25em;
}

button {
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;

    font-family: "98", sans-serif;
    color: black;

    background-color: rgb(205, 205, 205);

    border: 2px solid #000;

    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #555;
    border-bottom-color: #555;

    border-radius: 0; 
    display: inline-block;

    cursor: pointer;

    /* IMPORTANT: stops iOS “native button rendering layer” */
    -webkit-border-fit: border !important;
}

button:active {
    background-color: rgb(108, 108, 108);
    box-shadow: 0;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-left-color: #555;
    border-top-color: #555;
}

input:focus {
    outline: none;
    border: solid rgb(0, 0, 0);
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
}

a {
    padding: 0.25em;
    color: rgb(0, 0, 110);
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

.mainboxnt {
    align-items: center;
    width: 100vw;
    height: 8vh;
    background-color: #008080;
    box-shadow: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

}


.ntdebugh1 {
   margin: 0;
   padding: 0;
}

.startbar {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    
    background-color: rgb(205, 205, 205);

    border: 2px solid #000;

    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #555;
}

.nthomepage {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.startbutton {
    height: 4vh;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.1vw;
    
    border: 2px solid #000;
    background-color: #d4d0c8;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #555;
}

.startbutton:active{
    height: 4vh;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.1vw;

    background-color: #060606;
    border-top-color: #000000;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-left-color: #555;
}


.startimage {
    height: 4vh;
}

.clock{
    color: black;
    width: fit-content;
    min-width: fit-content;
    height: 4vh;
    margin: auto;
    margin-right: 1vw;
    background-color: rgb(205, 205, 205);
    border: 2px inset ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.clocktext {
    font-family: "98", sans-serif;
    font-size: 16px;
    color: black;
    padding: 0.3em;
    padding-right: 0.3em;
}
 
.windowsmenu {
    position: fixed;
    display: flex;
    bottom: 5.5vh;
    left: 0;
    width: 225px;
    height: 50vh;
    
    background-color: rgb(205, 205, 205);

    border: 2px solid #000;
    z-index: 1000; 

    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #555;
}


    .nt {
        user-select: none;
        height: 50vh;
         margin: 0;
        padding: 0;
    }

    .ntcontain {
        user-select: none;
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        align-content: center;
        text-align: center;
    }
    
    .menugradient {
        background: linear-gradient(to top, #0800ff, #000);
        width: 16%;
        height: 99%;
        margin: auto 0.5%;
        display: flex;
        flex-direction: column;
    }
 
    .startbuttoncontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 81%;
        height: 99%;
        margin: auto 0.5%;
    background-color: rgb(196, 196, 196);
    }

    .windowsmenuitem {
        font-family: "98", sans-serif;
        color: black;
       background-color: rgb(196, 196, 196);
        text-align: left;
        width: 90%;
        height: 14.25%;
        align-items: center;
        display: flex;
    }

    .windowsmenuitem:hover {
        font-family: "98", sans-serif;
        color: white;
        background-color: #0000b4;
        text-align: left;
        width: 92%;
        height: 14%;
        margin: 0.25%
    }

    .last {
        border-top: 2px solid #f3f3f3;
    }

    .shutdownlogo {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .ntlogo {
        margin: 0;
        padding: 0;
        font-size: 30px;
        margin-bottom: 0.25em;
        color: white;
        font-family: "98", sans-serif;
        font-weight: bold;
        writing-mode: sideways-lr
    }

    .ntlogo2 {
        margin: 0;
        padding: 0;
        font-size: 25px;
        margin-top: 0.25em;
        font-weight: 100;
        color: #dadada;
        font-family: microsoft sans serif, sans-serif;
        writing-mode: sideways-lr;
        margin-top: auto;
        margin-left: auto;
    }


    .hidden { display: none; }

    .foldercontainer {
        flex-direction: column;
        display: flex;
        height: fit-content;
        width: 50px;
        padding: 0.25em;
    }

    .foldericon {
        height: 45px;
        width: 45px;
        margin: 0;
        margin: 0 auto;
    }

    .foldertext {
        font-family: "98", sans-serif;
        color: #FFF;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .foldericon:hover {
        src: url("folderselected.png");
        height: 45px;
        width: 45px;
        margin: 0;
        margin: 0 auto;
    }

    .guesswho {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 500px;
        background-color: rgb(196, 196, 196);
        border: 2px solid #000;
        border-top-color: #fff;
        border-left-color: #fff;
        border-right-color: #555;
        border: 2px outset ;
    }

        .guesswhofullscreen {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        background-color: rgb(196, 196, 196);
        border: 2px solid #000;
        border-top-color: #fff;
        border-left-color: #fff;
        border-right-color: #555;
        border: 2px outset ;
    }

    .topbar {
        display: flex;
        width: 99%;
        margin: 2px auto;
        height: 25px;
        margin-bottom: auto;
        background-color: #000080;
    }

    .topbartext {
        color: white !important;
        font-family: "98", sans-serif;
        margin: 0;
        margin-left: 0.25em;
        font-size: 20px;
    }

    .topbar button {
        display: flex;
        width: 20px;
        margin: auto 0;
        margin-right: 3px;
        height: 20px;
        background-color: #dbdbdb;
        color: black;
        font-size: 25px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

       .topbar p {
        color: black;
        stroke-width: 1px;
        stroke: black;
        font-weight: 500;
    }

    .minimize,.maximize {
        margin: 0;
        padding: 0;
    }

    .maximize p {
        margin: 0;
        padding: 0;
        font-size: 45px;
    }

    .windowbuttonscontainer {
        display: flex;
        width: fit-content;
        height: 100%;
        margin-left: auto;
    }


    .ghwcontent {
      background-color: white;
      width: 98%;
      height: 90%;
      margin: auto;
      display: flex;
    }
    
    .ghwiframe {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: auto;
    }

    .error {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 150px;
        background-color: rgb(211, 211, 211);
        border: 2px outset white ;
        z-index: 1001;
    }

    .errorcontent {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .errorimage {
        height: 50px;
        margin: 0;
        margin-bottom: auto;
        margin-top: 5%;
        margin-right:auto;
        margin-left: 5%;
        padding: 0;
    }

        .errorbar {
        display: flex;
        width: 99%;
        margin: 2px auto;
        height: 25px;
        margin-bottom: auto;
        background-color: #000080;
        .t1 {
            color: white !important;
            font-family: "98", sans-serif;
            margin: 0;
            margin-left: 0.25em;
        }
    }

    .errorclose {
        display: flex;
        width: 20px;
        margin: auto 0;
        margin-left: auto;
        margin-right: 3px;
        height: 20px;
        background-color: #dbdbdb;
        color: black;
        font-size: 25px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        p { color: black}
    }

    .errortext {
        color: black !important;
        font-family: "98", sans-serif;
        margin-top: 1em;
        margin-right: auto;
        margin-left: 0.25em;
    }
    
    .errorbutton {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 1em;
        background-color: rgb(196, 196, 196);
        border: 2px solid #000;
        border-top-color: #fff;
        border-left-color: #fff;
        border-right-color: #555;
    }

    .errorflash {
  background-color: black;
  animation: flash 0.1s steps(1) infinite;
}

@keyframes flash {
  0%, 100% {
    background-color: black;
  }
  50% {
    background-color: red;
  }
}

.windowsopen {
    margin: auto 0;
    padding: 0;
    height: 80%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
                background-color: rgb(196, 196, 196);
        border: 2px solid #000;
        border-top-color: #fff;
        border-left-color: #fff;
        border-right-color: #555;
}

.windowsopen:active {
        border: 2px solid #000;
        border-bottom-color: #fff;
        border-right-color: #fff;
        border-left-color: #555;
}

.breaker {
    margin: 0.25em;
    border: 2px solid #000;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #555;
}

.windowsopenp {
    font-size: fit-content;
    padding: 0;
    font-family: "98", sans-serif;
    color: black;
    margin: auto;
}