* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #020015;
}

header {
    background-color: #09071e;
    color: white;
    text-align: center;
    padding-bottom: 0.2em;
}

.collection {
    background-color: rgb(9, 0, 51);
    width: 75%;
    height: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.img {
    width: 45%;
}

.auto {
    padding: 0.5em
}

.images {
    display: flex;
    justify-content: center;
}

.imagecaptions {
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 0.5em;
}